*{
margin:0px;
box-sizing: border-box;
padding: 0px;
}
body{
    background-color: lightgray;
}

@media screen and (max-width:600px) {
    body{
   background-color:lightblue; 
}
}
@media screen and (min-width:600px) and (width<=1024px){
    body{
        background-color: lightgreen;
    }

}